html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.main {
  padding-bottom: 40px;

  h1,
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }

  a {
    color: inherit;
  }

  .top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(160deg, #204d5a, #8e1f1f);
  }

  .container {
    padding: 30px;
    // background: rgb(147, 88, 88);
  }

  .editor {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }
}
