html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}

.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  > div {
    height: 80%;
    width: 960px;
  }
}